/*FONTS*/
@font-face{
  font-family: "a-regular";
  src: url("fonts/Andada-Regular.otf") format("opentype");
}
@font-face{
  font-family: "tw-black";
  src: url("fonts/TitilliumWeb-Black.ttf") format("truetype"); 
}
@font-face{
  font-family: "tw-bold";
  src: url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-bold";
  src: url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-bi";
  src: url("fonts/TitilliumWeb-BoldItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-el";
  src:  url("fonts/TitilliumWeb-ExtraLight.ttf") format("truetype");
}
@font-face{
  font-family: "tw-eli";
  src:  url("fonts/TitilliumWeb-ExtraLightItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-italic";
  src:  url("fonts/TitilliumWeb-Italic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-light";
  src:  url("fonts/TitilliumWeb-Light.ttf") format("truetype");
}
@font-face{
  font-family: "tw-li";
  src:  url("fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-regular";
  src:  url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "tw-sb";
  src:  url("fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-sbi";
  src:  url("fonts/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
}

body{
  font-family: "tw-sbi"
}

main{
  flex: 1 0 auto;
}

a{
  text-decoration: none;
  color: #29ed86;
}
a:hover{
  text-decoration: none;
  color: #29ed86;
  font-weight: bold;
}

ul li{
  color: #29ed86;
}
ul li span {
  color: #000;
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.bg-rd{
  background-color: #a11512
}
.accent{
  color: #29ed86;
}
/*PARALLAX*/
.parallaxg{
  padding-top: 150px; 
  padding-bottom: 150px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}
.pi-one{
  background-image: url(https://scontent.fmex15-1.fna.fbcdn.net/v/t31.18172-8/s960x960/29060250_177064182928789_4241154734695324164_o.jpg?_nc_cat=104&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeGzhwFaBqxznUhWz5UMczAnNIjjs-RlBgQ0iOOz5GUGBGsClKxgx4VOpIsnvlnz4mk&_nc_ohc=17TUpPDswxUAX_uxYw1&_nc_ht=scontent.fmex15-1.fna&oh=95a8348d24f8c28ceeeb571e0e70480b&oe=613FDFA2);
}
.pi-two{
  background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2017/05/19/14951910928694.png);
}
.pi-three{
  background-image: url(https://www.quever.news/u/fotografias/m/2021/2/26/f608x342-7265_36988_0.jpg);
}
.pi-four{
  background-image: url(https://www.observatorioesclerosismultiple.com/fileadmin/user_upload/10-_preguntas-frecuentes-coronavirus-esclerosis-multiple.jpg);
}
.pi-five{
  background-image: url(https://cdn-3.expansion.mx/dims4/default/c87ee23/2147483647/strip/true/crop/1273x824+0+0/resize/1800x1165!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F49%2Faf%2Fe767dace41d78b7c225ad293acbd%2Fistock-1205703732.jpg);
}

.h2t{
  letter-spacing: 10px; 
  text-align: center; 
  color: #fff;
  font-weight: 600; 
  text-transform: uppercase; 
  z-index: 10;
}

.hshadow{
  background-color: rgba(0,0,0,.4);
  padding: 0 20px;
  border-radius: 20px;
}

footer{
  background: #343a40;
  color: #fff;
}