/*FONTS*/
@font-face{
  font-family: "a-regular";
  src: url("fonts/Andada-Regular.otf") format("opentype");
}
@font-face{
  font-family: "tw-black";
  src: url("fonts/TitilliumWeb-Black.ttf") format("truetype"); 
}
@font-face{
  font-family: "tw-bold";
  src: url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-bold";
  src: url("fonts/TitilliumWeb-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-bi";
  src: url("fonts/TitilliumWeb-BoldItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-el";
  src:  url("fonts/TitilliumWeb-ExtraLight.ttf") format("truetype");
}
@font-face{
  font-family: "tw-eli";
  src:  url("fonts/TitilliumWeb-ExtraLightItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-italic";
  src:  url("fonts/TitilliumWeb-Italic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-light";
  src:  url("fonts/TitilliumWeb-Light.ttf") format("truetype");
}
@font-face{
  font-family: "tw-li";
  src:  url("fonts/TitilliumWeb-LightItalic.ttf") format("truetype");
}
@font-face{
  font-family: "tw-regular";
  src:  url("fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "tw-sb";
  src:  url("fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
}
@font-face{
  font-family: "tw-sbi";
  src:  url("fonts/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
}

body{
  font-family: "tw-regular"
}

main{
  flex: 1 0 auto;
}

a{
  text-decoration: none;
  color: #29ed86;
}
a:hover{
  text-decoration: none;
  color: #29ed86;
  font-weight: bold;
}

ul li{
  color: #29ed86;
}
ul li span {
  color: #000;
}

#app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#header,{
  font-family: "tw-bi"
}
.bg-red{
  background-color: #BF103A
}
.accent{
  color: #28EF87;
}
.bni-opt{
  font-size: 20px;
}
.bases-title{
  font-family: "tw-sbi";
}
/*PARALLAX*/
.parallaxg-init{
  padding-top: 160px; 
  padding-bottom: 160px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-attachment: absolute; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}
.parallaxg{
  padding-top: 150px; 
  padding-bottom: 150px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: top center;
}

.h2t{
  letter-spacing: 10px; 
  text-align: center; 
  color: #fff;
  font-weight: 600; 
  text-transform: uppercase; 
  z-index: 10;
}

.hshadow{
  background-color: rgba(0,0,0,.5);
  padding: 0 20px;
  border-radius: 20px;
}

.hst{
  font-family: "tw-sbi";
}

.ur{
  font-family: "tw-bold";
}

footer{
  /*background: #4941FF;*/
  background: #333;
  color: #fff;
}
.footer-opt{
  font-size: 22px;
  color: #fff;
  font-family: "tw-light";
}
.footer-opt:hover{
  font-family: "tw-bold";
  color: #28EF87;
}
.footer-follow{
  letter-spacing: 3px;
  color: #28EF87;
  font-family: "tw-light";
}
.footer-contacto{
  color:  #fff;
  font-size: 24px;
}
.footer-cpy{
  letter-spacing: 4px;
  font-family: "tw-light";
  font-size: 18px;
}