<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /unam_abc
    RewriteRule ^unam_abc/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /unam_abc/index.html [L]
</IfModule>